{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}
<div class="atendente-login">
    <header class="header-atendente">
        <img class="atendente-img" src="https://i.ibb.co/HBfdmsj/atendente.png"/>
      <span><strong id="atendente-voice">Logar neste site<i class="fa-solid fa-volume-high" id="sound"></i></strong></span>
    </header>
</div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" id="botao-cadastrar-logar-sair" type="submit">Entrar</button>
    </form>
{% endblock %}