
{% load crispy_forms_tags %}


<form>
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nome</label>{{ form.nome }}
      <input type="nome" class="form-control" id="exampleInputEmail1">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CRM</label>{{ form.crm }}
        <input type="crm" class="form-control" id="exampleInputEmail1">
    </div>

        
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Especialização</label>{{ form.especializacao }}
        <input type="especializacao" class="form-control" id="exampleInputEmail1" >
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Turno</label>{{ form.turno }}
        <input type="turno" class="form-control" id="exampleInputEmail1" >
    </div>        
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>{{ form.email }}
        <input type="email" class="form-control" id="exampleInputEmail1">
    </div>

    
      <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>{{ form.senha }}
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>





