{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}CadastroMedico{% endblock %}

{% block content %}

<div class="next-page">
    <nav class="navbar navbar-expand-lg next-page">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link activate" aria-current="page" href="{% url 'pages:home' %}" id="second-menu"><strong>Início</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-current="page" href="#" id="seta"><i class="fa-solid fa-chevron-right"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-current="page" href="#" id="second-menu"><strong>Casdastro</strong></a>
            </li>
          </ul>  
        </div>  
      </div>  
    </nav>  
</div>
<div class="atendente">
    <header class="header-atendente">
        <img class="atendente-img" src="https://i.ibb.co/HBfdmsj/atendente.png" alt="atendente" border="0" />
      <span><strong id="atendente-voice">&nbsp; Cadastro neste site<i class="fa-solid fa-volume-high" id="sound"></i></strong></span>
    </header>
</div>
  <form method="post">
    {% csrf_token %}

      <input type="hidden" name="csrfmiddlewaretoken" value="uU9cDvhJRbqiXUkaCrfA1ooRyPJs78q12pYt9QVwWpuMhITkIw4r9lTsl1Y2qs9C">
      
      <div class="mb-3">
        <label for="id_nome" class="requireField">Nº do Cartão do SUS <span class="asteriskField">*</span> </label>
        <input type="nome" nome="nome" class="textinput textInput form-control" required id="id_nome">
      </div>

      <div class="mb-3">
        <label for="id_crm" class="requireField">CPF<span class="asteriskField">*</span> </label>
        <input type="crm" nome="crm" class="textinput textInput form-control" required id="id_crm" >
      </div>

      <div class="mb-3">
        <label for="id_especializacao" class="requireField">Data de Nascimento
            <span class="asteriskField">*</span> </label>
        <input type="especializacao" nome="especializacao" class="textinput textInput form-control" required id="id_especializacao">
      </div>

      <div class="mb-3">
        <label for="id_turno" class="requireField">Telefone<span class="asteriskField">*</span> </label>
        <input type="turno" nome="email" class="textinput textInput form-control" required id="id_turno">
    </div>        
    <div class="mb-3">
        <label for="id_email" class="requireField">Rua<span class="asteriskField">*</span></span></label>
        <input type="email" name="email" class="textinput textInput form-control" required id="id_email">
    </div>
    <div class="mb-3">
        <label for="id_email" class="requireField">CEP<span class="asteriskField">*</span></span></label>
        <input type="email" name="email" class="textinput textInput form-control" required id="id_email">
    </div>
    <div class="mb-3">
        <label for="id_email" class="requireField">Número da Residência<span class="asteriskField">*</span></span></label>
        <input type="email" name="email" class="textinput textInput form-control" required id="id_email">
    </div>
    <div class="mb-3">
        <label for="id_email" class="requireField">Bairro<span class="asteriskField">*</span></span></label>
        <input type="email" name="email" class="textinput textInput form-control" required id="id_email">
    </div>
    <div class="mb-3">
        <label for="id_email" class="requireField">Complemento<span class="asteriskField">*</span></span></label>
        <input type="email" name="email" class="textinput textInput form-control" required id="id_email">
    </div>
    <div class="mb-3">
        <label for="id_email" class="requireField">Referência<span class="asteriskField">*</span></span></label>
        <input type="email" name="email" class="textinput textInput form-control" required id="id_email">
    </div>

    
      <div class="mb-3">
      <label for="id_password1" class="requireField">Senha <span class="asteriskField">*</span> </label>
      <input type="password" nome="password1" placeholder="senha" autocapitalize="new-password" class="textinput textInput form-control">
    </div>
    {{ form|crispy }}



        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" id="btn" type="submit">ATUALIZAR</button>
            <button class="btn btn-success" id="btn" type="submit">AGENDAR</button>
          </div>
   
    </form>
{% endblock %}
