{% extends 'base.html' %}

{% block title %}Loja Python{% endblock %}

{% block content %}
<body>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% if user.is_authenticated %}
    <div class="corpo-img">
      <img src="https://i.ibb.co/9Tc2Mxh/body-picture.png" id="body-picture">
    </div>
    <div class="row">
      <div class="col-3">
        <a  href="{% url 'pages:cadastro_usuario' %}">
          <div class="card" style="width: 12rem;">
            <img src="https://i.ibb.co/Zhy8pm1/agendamento-Consulta.png">
          </div>
        </a>
      </div>
      <div class="col-3">
        <div class="card" style="width: 12rem;">
          <img src="https://i.ibb.co/52Bp1jz/visualizar-Exames.png">
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 12rem;">
          <img src="https://i.ibb.co/4JBj079/atendimento-Virtual.png">
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 12rem;">
          <img src="https://i.ibb.co/jykmCXM/medicamentos-Disponiveis.png">
        </div>
      </div>
    </div>
    <div class="rodape">
      <footer class="rodape-footer">
        <div class="row">
          <div class="col-4">
            <div class="contatos">
              <h5>Contatos:</h5>
              <h5><i class="fa-solid fa-envelope"></i>posto.saúdevirtual27palmares@gmail.com</h5>
              <h5><i class="fa-solid fa-phone"></i>(81) 98349-6015</h5>
            </div>
          </div>
          <div class="col-4">
            <div class="contatos">
              <h5>Conheça-nos</h5>
              <h5><i class="fa-solid fa-location-dot"></i>Palmares, Cep: 55540-000</h5>
            </div>
          </div>
          <div class="col-4">
            <div class="contatos">
              <h5>Redes Sociais:</h5>
              <i class="fa-brands fa-instagram" id="instagram"></i><i class="fa-brands fa-twitter" id="twitter"></i><i class="fa-brands fa-facebook"></i>
            </div>
          </div>
        </div>
      </footer>
  </div>
    {% else %}
    <div class="corpo-img">
      <img src="https://i.ibb.co/9Tc2Mxh/body-picture.png" id="body-picture">
    </div>
    <div class="row">
      <div class="col-3">
        <div class="card" style="width: 12rem;">
          <img src="https://i.ibb.co/Zhy8pm1/agendamento-Consulta.png">
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 12rem;">
          <img src="https://i.ibb.co/52Bp1jz/visualizar-Exames.png">
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 12rem;">
          <img src="https://i.ibb.co/4JBj079/atendimento-Virtual.png">
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 12rem;">
          <img src="https://i.ibb.co/jykmCXM/medicamentos-Disponiveis.png">
        </div>
      </div>
    </div>
    <div class="rodape">
      <footer class="rodape-footer">
        <div class="row">
          <div class="col-4">
            <div class="contatos">
              <h5>Contatos:</h5>
              <h5><i class="fa-solid fa-envelope"></i>posto.saúdevirtual27palmares@gmail.com</h5>
              <h5><i class="fa-solid fa-phone"></i>(81) 98349-6015</h5>
            </div>
          </div>
          <div class="col-4">
            <div class="contatos">
              <h5>Conheça-nos</h5>
              <h5><i class="fa-solid fa-location-dot"></i>Palmares, Cep: 55540-000</h5>
            </div>
          </div>
          <div class="col-4">
            <div class="contatos">
              <h5>Redes Sociais:</h5>
              <i class="fa-brands fa-instagram" id="instagram"></i><i class="fa-brands fa-twitter" id="twitter"></i><i class="fa-brands fa-facebook"></i>
            </div>
          </div>
        </div>
      </footer>
  </div>





    {% endif %}
   
  
</body>
<script>
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>

{% endblock %}